---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import transactions from "../data/transactions.json";

const sortedTransactions = [...transactions].sort(
  (a, b) => new Date(b.postDate) - new Date(a.postDate)
);

const payments = transactions.filter((transaction) => transaction.type === "Payment")
  .reduce((sum, item) => sum + Number(item.amount), 0);

const charges = transactions.filter((transaction) => transaction.type === "Charge")
  .reduce((sum, item) => sum + Number(item.amount), 0);

const totalPayments = Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD"
}).format(payments);

const totalCharges = Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD"
}).format(charges);

const balance = charges - payments;
const totalBalance = Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD"
}).format(balance);
---

<BaseLayout title="Finance">
  <Hero />
 <section class='totals-container'>
  <div class='row'>
    <div class='col-12 col-md-3 mb-3 d-flex flex-wrap justify-content-between align-items-center flex-row'>
      <div class='card shadow-sm'>
        <div class='card-body'>
          <h2 class='card-title fw-light'>{totalCharges}</h2>
          <h4 class='card-subtitle text-secondary fw-bold'>Total Charges</h4>
        </div>
      </div>

      <div class='card shadow-sm'>
        <div class='card-body'>
          <h2 class='card-title fw-light'>{totalPayments}</h2>
          <h4 class='card-subtitle text-secondary fw-bold'>Total Payments</h4>
        </div>
      </div>

      <div class='card shadow-sm'>
        <div class='card-body'>
          <h2 class='card-title fw-light'>{totalBalance}</h2>
          <h4 class='card-subtitle text-secondary fw-bold'>Remaining Balance</h4>
        </div>
      </div>

    </div>
  </div>
</section> 

<div class='container'>
<table class='table table-responsive table-striped table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Description</th>
        <th>Post Date</th>
        <th>Amount</th>
        <th>Service</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedTransactions.map((transaction) => (
          <tr>
            <td>{transaction.transId}</td>
            <td>{transaction.type}</td>
            <td>{transaction.desc}</td>
            <td>{transaction.postDate}</td>
            <td>{Intl.NumberFormat('en-US', {
              style: "currency",
              currency: "USD"
            }).format(transaction.amount)}</td>
            <td>{transaction.service}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
  </div>


</BaseLayout>
