---
import siteData from "../data/site.json";
import "../styles/footer.css";

const footer = siteData.find((item) => item.id === 'footer');
const sections = footer.sections;

const org = siteData.find((item) => item.id === "org");
const orgLogo = org.logo;
const orgName = org.name;

const year = new Date().getFullYear();
---

<footer class='bg-dark text-light py-5'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-md-3 mb-4'>
        <img src={orgLogo} height="70" width="auto" alt={`${orgName} logo`}>
        <p>{orgName} © {year}</p>
      </div>
      {
        sections.map(section => (
          <div class='col-12 col-md-3 mb-4'>
            <h5 class='fw-bold'>{section.name}</h5>

            <ul class='nav flex-column'>
              {section.links.map((link) => (
                <li class='nav-item'>
                  <a class='nav-link text-light fw-thin ps-0'
                  href={link.slug ?? '#'}
                  >
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</footer>
